.container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 5vh 0;
}
.changeBtn {
    background: rgb(34, 111, 186);
    border: 0;
    border-radius: 5px;
    box-shadow: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    flex: 0 0 auto;
    padding: 10px;
    margin: 15px 0;
    font-size: 2rem;
}
.changeBtn:hover {
    background: rgb(85, 156, 226);
}
.changeBtn:active {
    background: rgb(90, 223, 236);
}
